.projeto{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    background: #fff;
}
.projeto .subtitulo{
    color: #222;
}
.projetos_mod::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#222,#222);
    position: absolute;
    right: 3.5rem;
}
.projeto_texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #fff;
}
.projeto_texto em{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.projetos_mod{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
}
.projetos_mod a{
    background-color: #225229;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
}
.projeto_titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}
.projeto_descpt{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}
.projeto_habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content:start;
}
.projeto_habilidades li{
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px 10px;
}
.btn_projeto{
    text-decoration: none;
    color: #fff;
    background: #225229;
    padding: 10px;
    text-align: center;
}

@media(max-width:800px){
    .projeto{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .projeto .subtitulo{
        color: #141414;
    }
    .projeto_texto{
        font-size: 1.25rem;
    }
}
@media(max-width:400px){
    .projetos_mod{
        grid-template-columns: 1fr;
    }
}